#back{
	margin-top: 30px;
	border: 1px solid;
	border-radius: 5px;
	width:150px;
	border-color:black;
	background:none;
	margin-bottom:25px;
	padding: 10px 0px 10px 0px;
	font-weight:200;
	display:inline-block;
	margin-left:25%;
	font-family:'noteworthy';
	
	



}

.mySlides {display:none;
}
 a{
 	color:black;
 }
#pic1{
}
.imgd{
 	height:400px;
 	/*background-image: url("../img/beach1.jpeg");*/
 	background-size:50%;
 	background-position:center;
 	background-repeat:no-repeat;
 	transition: all .3s ease-in-out;
 	
 }

.beach1{
 	background-image: url("../img/beach1.jpeg");
 }
 .beach2{
 	background-image: url("../img/beach2.jpeg");
 }
 .beach3{
 	background-image: url("../img/beach3.jpeg");
 }

.mountain1{
	background-image: url("../img/mountain1.jpeg");
}
.mountain2{
	background-image: url("../img/mountain2.jpeg");
}
.mountain3{
	background-image: url("../img/mountain3.jpeg");
}
 .city1{
	background-image: url("../img/city1.jpeg");
}
 .city2{
	background-image: url("../img/city2.jpeg");
}
 .city3{
	background-image: url("../img/city3.jpeg");
}
 .country1{
	background-image: url("../img/country1.jpg");
}
.country2{
	background-image: url("../img/country2.jpeg");
}
.country3{
	background-image: url("../img/country3.jpeg");
}

iframe{
	margin-left:25%;
	width:50%;
}

/*.img2{
 	height:300px;
 	background-image: url("../img/puppy1.jpeg");
 	background-size:50%;
 	background-position:center;
 	background-repeat:no-repeat;
 	;
 }
*/

.puppy1{
	background-image: url("../img/puppy1.jpeg");
}
.puppy2{
	background-image: url("../img/puppy2.jpeg");
}
.puppy3{
	background-image: url("../img/puppy3.jpeg");
}

.kitten1{
	background-image: url("../img/kitten1.jpeg");
}
.kitten2{
	background-image: url("../img/kitten2.jpeg");
}
.kitten3{
	background-image: url("../img/kitten3.jpeg");
}
.female1{
	background-image: url("../img/female1.jpeg");
}
 .female2{
	background-image: url("../img/female2.jpeg");
}
.female3{
	background-image: url("../img/female3.jpeg");
}
 .male1{
	background-image: url("../img/male1.jpeg");
}
 .male2{
	background-image: url("../img/male2.jpeg");
}

 .male3{
	background-image: url("../img/male3.jpeg");
}


