body{
	background-image: url(../img/dream2blur3.jpg);
	background-size: cover;
	
	background-repeat: no-repeat;
	height:110%;
}

a{
	text-decoration: none;
	color:white;
}

}
.main{
	margin:auto;
	width:60%;

}



/*section{
	margin:auto;
	width:60%;
}*/

body{
	text-align: center;
	color:white;
}

h1{
	font-family: 'noteworthy';;
	font-size: 110px;
	margin-bottom: auto;
	margin-top:75px;
	color:white;
	text-align: center;
}

h3{
	font-family:'helvetica Neue';
	font-size:25px;
	font-weight:200;
	margin: 20px auto 20px auto;
}
.daydream{
	font-family: 'noteworthy';
}

select{
	-webkit-appearance: none;
	font-size:25px;
	border-color:white;

	
}

.styled-select select {
   
   
   font-size: 14px;
   height: 29px;
   padding: 5px; /* If you add too much padding here, the options won't show in IE */
   width: 150px;
   background:none;
   text-align: center;
}
.semi-square {
   -webkit-border-radius: 5px;
   -moz-border-radius: 5px;
   border-radius: 5px;
}

.h2sub{
	margin-top: 0px;
}


#submit{
	margin-top: 30px;
	border: 1px solid;
	border-radius: 15px;
	width:150px;
	border-color:white;
	background:none;
	margin-bottom:50px;
	padding: 10px 0px 10px 0px;
	font-weight:200;

}

